Source: {{ source-package-name }}
Maintainer: {{ maintainer|safe }}
Uploaders: {{ uploaders|safe }}
Section: java
Priority: optional
Build-Depends: debhelper-compat (= 12),
               javahelper,{% if maven %}
               maven-debian-helper,{% else %}
               maven-repo-helper,{% endif %}
               libclojure-java,{% for dep in dependencies %}
               {{ dep }},{% endfor %}
               default-jdk
Standards-Version: 4.5.1
Vcs-Browser: https://salsa.debian.org/clojure-team/{{ source-package-name }}
Vcs-Git: https://salsa.debian.org/clojure-team/{{ source-package-name }}.git
Homepage: {{ homepage }}
Rules-Requires-Root: no

Package: {{ package-name }}
Architecture: all
Depends: ${java:Depends},
         ${misc:Depends}{% if maven %},
         ${maven:Depends}{% endif %},
         libclojure-java{% for dep in dependencies %},
         {{ dep }}{% endfor %}
Recommends: ${java:Recommends}{% if maven %}
Suggests: ${maven:OptionalDepends}{% endif %}
Description: {{ description }}
